
.anam-centerheader{
  text-align: center;
  background-color: white;
  background-image: 
  
}

.anam-profilepic{
  border-radius: 50%;
}
#anam-about {
  background-color: burlywood


}
.carousel-item{
   height: 500px;  
   text-align: center;
   }
   
.item1{ 
  background-color:red;  
 /*height: 100px;*/
   }
   
.item2{ 
  background-color:yellow;
 /*height: 100px;*/
    }
    
.item3{
  background-color:blue;
 /*height: 100px;*/
     } 
